# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

.idea/.gitignore
.idea/Blog.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
Blog/__init__.py
Blog/database_router.py
Blog/settings.py
Blog/urls.py
Blog/wsgi.py
BlogFront/__init__.py
BlogFront/admin.py
BlogFront/apps.py
BlogFront/interface/note_model.py
BlogFront/migrations/0001_initial.py
BlogFront/migrations/0002_auto_20180326_2144.py
BlogFront/migrations/0003_image.py
BlogFront/migrations/__init__.py
BlogFront/models.py
BlogFront/static/
BlogFront/templates/
BlogFront/tests.py
BlogFront/urls.py
BlogFront/views.py
Bus/__init__.py
Bus/admin.py
Bus/apps.py
Bus/migrations/__init__.py
Bus/models.py
Bus/static_bus/
Bus/templates/
Bus/tests.py
Bus/urls.py
Bus/views.py
Learn/__init__.py
Learn/admin.py
Learn/apps.py
Learn/migrations/__init__.py
Learn/models.py
Learn/templates/
Learn/tests.py
Learn/urls.py
Learn/views.py
Wx/__init__.py
Wx/admin.py
Wx/apps.py
Wx/images/
Wx/migrations/0001_initial.py
Wx/migrations/__init__.py
Wx/models.py
Wx/tests.py
Wx/urls.py
Wx/views.py
Wx/wx_class/Te.py
Wx/wx_class/get_access_token.py
Wx/wx_class/ierror.py
Wx/wx_class/imessage.py
Wx/wx_class/wxs.py
manage.py
media/
spider/bus/bus_yy.py
spider/bus/info.py
spider/fund_spider.py
spider/mobile_pic.py
spider/test.py
